.about{
    width: 100%;
    
    display: flex;
    justify-content: center;
    background-color: #F6FFFE;

}
.about article{
    font-family: 'Montsserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
}
@media all and (min-width: 1200px){
    .about {
        height: 668px;
    }
}
.about article div:nth-child(1){
    margin: auto;
    padding-left: 75px;
    padding-bottom: 40px;
}
.about article div:nth-child(2){
    display: flex;
    
}
@media all and (max-width: 1320px){
    .about article div:nth-child(2){
        width: 100%;
    }
}

.about article h2{
    font-family: 'Montsserrat', sans-serif;
    font-weight: 800;
    font-size: 33px;
}
.about article p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #95989A;
    padding-top: 28px;
}
.about article p:nth-child(2){
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #666666;
    padding-top: 42px;
}
.about article div img{
    position: relative;
    top: -12%;
    margin: auto;
}
.about div img:nth-child(2){
    position: relative;
    margin-left: -38%;
    top: 12%;
}