
.factsContainer{
    width: 100%;
    background-color: #1D1D1D;
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}
.factsBlock{
    background-color: #1D1D1D;
}
.factsContainer .factsBlock span{
    display: block;
}
.factsContainer .factsBlock .txt{
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    color:white;
    display: block;
    text-align: center;
}
.factsContainer .factsBlock .number{
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: white;
    text-align: center;
}