footer{
    width: inherit;
    background-color: black;
}
.footerContainer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}
.footerContainer div{
    display: flex;
}
.footerContainer div img{
    padding-right: 23px;
    margin: auto;
}
.footerContainer .line{
    width: 60px;
    height: 2px;
    background-color: white;
    margin: auto;
}
.footerContainer p, .footerContainer .links{
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.footerContainer .socials{
    display: flex;
    justify-content: space-evenly;
}
.footerContainer .socials a{
    width: 8px;
    height: 15px;
    background-image: url(/images/social/fb.png);
    margin-right: 29px;
}
.footerContainer .socials a:nth-child(2){
    width: 16px;
    height: 13px;
    background-image: url(/images/social/tw.png);
}
.footerContainer .socials a:nth-child(3){
    width: 16px;
    height: 16px;
    background-image: url(/images/social/hz.png);
}
.footerContainer .socials a:nth-child(4){
    width: 16px;
    height: 16px;
    background-image: url(/images/social/inst.png);
}
.footerContainer .socials a:nth-child(5){
    width: 16px;
    height: 16px;
    background-image: url(/images/social/in.png);
}
