header{
    width: 100%;
    height: 750px;
    background-image: url(/images/background/Group1.png);
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 0 135px;
    padding-top: 30px;
}
.menu{
    display: none;
}
.nippy{
    display: flex;
}
nav .line{
    width: 60px;
    height: 2px;
    background-color: black;
    margin: auto;
}
.nippy img{
    padding-right: 23px;
}

.info{
    display: flex;
    width: 410px;
    height: 14px;
    justify-content: space-between;
}
.info a{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 800;
    font-size: 11px;
}

.GOD h1{
    font-size: 80px;
    text-align: center;
    padding-top: 185px;
    font-family: 'Playfair Display', serif;
}
.GOD p{
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
header .button{
    display: flex;
    justify-content: center;
    padding-top: 55px;
}
header button{
    width: 190px;
    height: 52px;
    border-radius: 30px;
    background-color: blue;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
