.hrefs{
    width: inherit;
    height: 273px;
    background-color: #F3F7F8;
    display: flex;
    justify-content: space-evenly;
}
.hrefs a{
    width: 85px;
    height: 26px;
    margin: auto;
    background-image: url(/images/brands/bbc.png);
}
.hrefs a:nth-child(2){
    width: 84px;
    height: 23px;
    background-image: url(/images/brands/net.png);
}
.hrefs a:nth-child(3){
    width: 84px;
    height: 22px;
    background-image: url(/images/brands/forbes.png);
}
.hrefs a:nth-child(4){
    width: 85px;
    height: 15px;
    background-image: url(/images/brands/mash.png);
}
.hrefs a:nth-child(5){
    width: 85px;
    height: 24px;
    background-image: url(/images/brands/life.png);
}
.hrefs a:nth-child(6){
    width: 83px;
    height: 15px;
    background-image: url(/images/brands/buzz.png);
}
