
.products{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 97px;
}
.products .ourProducts{
    display: flex;
    justify-content: space-between;
    padding: 19px 15px;
}
.products .ourProducts h2{
    font-size: 33px;
    font-family: 'Montserrat', sans-serif;
}
.products .ourProducts div h3{
    font-size: 14px;
    margin: auto;
    padding-right: 15px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-family: 'Montserrat', sans-serif;
}
.products .ourProducts div a{
    margin: auto;
}
.cock{
    width: 18px;
    height: 10px;
    background-image: url(/images/arrow/1.png);
}
.container{
    display: flex;
    justify-content: center;
    padding-bottom: 114px;
}

@media all and (max-width: 1200px) {
    .container{
        flex-wrap: wrap;
    }
}

.products .bigBlock{
    min-width: 570px;
    height: 582px;
    margin: 15px;
    display: flex;
    align-items: flex-end;
}

.container .bigBlock div img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .bigBlock .imgLink{
    position: relative;
    width: 100%;
    height: 100%;
}
.container .bigBlock .imgLink .text{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    background-color: rgba(255 ,255, 255, 0.6);
}
.container  a{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #1A1A1B;
    text-decoration: none;
    display: block;


}
.container  span{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #1A1A1B;
    font-weight: bold;
}
.products .smallBlocks{
    display: flex;
    flex-wrap: wrap;
}
.container .smallBlocks .small .imgLink{
    position: relative;
}
.container .smallBlocks .small .imgLink .text{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    background-color: rgba(255 ,255, 255, 0.6);
}
.container .smallBlocks .small .imgLink img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products .small{
    width: 270px;
    height: 276px;
    margin: 15px;
    display: flex;
    align-items: flex-end;
}
