header .nippy, header .info{
    display: none; 
} 

.menu{
    width: 100%;
    height: 61px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    justify-content: center;
}
.menu.active{
    background-color: rgba(0, 0, 0, 0.9);
}
.menu .menuBtn{
    width: 100%;
    display: block;
    padding: 14px;
}
.menu .menuBtn div{
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 10px;
}
.menu ul{
    overflow: hidden;
    display: block;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(-100vw);
    transition: transform 0.4s;
}
.menu.active ul{
    transform: translateX(0);
}
.menu ul li{
    color: #E0E7E7;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px 0;
}
.GOD h1{
    font-size: 60px;
}
.GOD p{
    padding: 10px;
}
.about{
    height: auto;
}
.about article{
    display: block;
}
.about article div:nth-child(1) {
    margin: auto;
    padding: 10px 20px;
    text-align: center;
}
.about article div:nth-child(2){
    padding-top: 20px;
}
.about div img:nth-child(2){
    margin: auto;
    top: 0;
}
.about article div img{
    width: 100px;
    height: 100px;
    top: 20%;
}
.about article h2 {
   text-align: center;
   padding-top: 30px;
}
.container{
    display: block;
    width: 100%;
}
.products{
    width: 100%;
    padding-top: 50px;
}
.products .bigBlock{
    width: auto;
    height: auto;
    min-width: auto;
}
.products .smallBlocks{
    display: block;
}
.products .small{
    width: auto;
    height: auto;
}
.products .ourProducts{
    flex-wrap: wrap;
}
.container .bigBlock div img{
    position: static;
}
.factsContainer{
    padding: 40px 0;
}
.factsContainer .factsBlock .number{
    font-size: 32px;
}
.subscription{
    height: auto;
}
.subscription > div{
    width: 100%;
}
.subscription .left{
    display: none;
}
.subscription .right div, .subscription .right .mail{
    width: 100vw;
}
.subscription .right .mail{
    margin: 30px 0;
    width: 100%;
}
.subscription h2, .subscription p{
    text-align: center;
    padding: 0 10px;
}
.subscription h2{
    padding-top: 30px;
}
.subscription .right .form1{
    width: 100%;
    position: static;
}
.subscription .right{
    padding: 0;
}
.hrefs{
    flex-wrap: wrap;
}
.footerContainer .socials a{
    margin: 0;
}
.footerContainer{
    display: block;
    padding: 50px
}
.footerContainer p{
    padding-top: 20px
}
.socials{
    padding-top: 30px;
}
