.subscription{
    display: flex;
    width: inherit;
    height: 632px;
}
.subscription > div{
    height: 100%;
    width: 50%;
}
.subscription .right{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px 20px;
}
.subscription .left{
    background-color: #F4F4F4;
}
.subscription .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.subscription .right h2{
    font-size: 33px;
    font-family: 'Montserrat', sans-serif;

}
.subscription .right p:nth-child(2){
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    padding-top: 31px;
}
.subscription .right p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 0;
}
.subscription .right .mail{
    display: flex;
    height: 48px;
    border: 1px solid black;
    border-radius: 30px;
    justify-content: space-between;
}
.subscription .right .mail input{
    border: none;
    outline: none;
    margin: auto;
}
.subscription .right .mail button{
    width: 130px;
    height: inherit;
    background-color: blue;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    margin: -1px;
    cursor: pointer;
}
button:focus{
    outline: none;
}

.subscription > .right > div{
    position: absolute;
    transition: filter 1s, opacity 1s;
}
.subscription .right .form1{
    opacity: 1;
    filter: blur(0);
}
.subscription .right .form2{
    opacity: 0;
    filter: blur(2px);
    height: 0;
    overflow: hidden;
}
.subscription .right .form2 a{
    cursor: pointer;
    text-decoration: initial;
    font-family: 'Montserrat', sans-serif;

}
.subscription .right .form2 a:hover{
    text-decoration: underline;
}
.subscription .right.submited .form1{
    opacity: 0;
    filter: blur(2px);
}
.subscription .right.submited .form2{
    opacity: 1;
    filter: none;
    height: auto;
}